
backend/Actio.HelpDeskApi/obj/project.assets.json

backend/Actio.HelpDeskApi/obj/Debug/netcoreapp3.1/Actio.HelpDeskApi.csprojAssemblyReference.cache

backend/Actio.HelpDeskApi/obj/Debug/netcoreapp3.1/Actio.HelpDeskApi.assets.cache

backend/.vs/Actio.HelpDesk/DesignTimeBuild/.dtbcache

backend/.vs/Actio.HelpDesk/v16/.suo

backend/.vs/Actio.HelpDesk/v16/Server/sqlite3/storage.ide

backend/Actio.HelpDeskApi/obj/Actio.HelpDeskApi.csproj.nuget.cache

backend/Actio.HelpDeskApi/obj/Actio.HelpDeskApi.csproj.nuget.dgspec.json

backend/Actio.HelpDeskApi/obj/

backend/Actio.HelpDeskApi/bin/
